/* Global Styles */
:root {
  --primary-color: #ff3f34;
  --secondary-color: #ffffff;
  --accent-color: #ff3f34;
  --text-color: #ffffff;
  --light-text: #cccccc;
  --bg-color: #000000;
  --light-bg: #111111;
  --border-radius: 4px;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, shantella, Ubuntu, Montserrat, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--text-color);
  transition: var(--transition);
}

a:hover {
  color: var(--primary-color);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-header {
  text-align: center;
  margin-bottom: 3rem;
}

.section-header h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.section-header p {
  font-size: 1.1rem;
  color: var(--light-text);
}

section {
  padding: 5rem 0;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border-radius: var(--border-radius);
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition);
  border: none;
  text-align: center;
}

.btn-primary {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  width: 300px;
  align-self: center;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.btn-outline:hover {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  transform: translateY(-2px);
}

.tag {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 0.2rem 0.8rem;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.centered-content {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

/* Responsive styles */
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }

  .big-heading {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .section-header h2 {
    font-size: 2.5rem;
  }

  .big-heading {
    font-size: 2.8rem;
  }

  section {
    padding: 3rem 0;
  }

  .btn {
    padding: 0.7rem 1.3rem;
  }

  .btn-primary {
    background-color: var(--secondary-color);
    color: var(--bg-color);
    width: 80vw;
    align-self: center;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }

  .section-header h2 {
    font-size: 2rem;
  }

  .big-heading {
    font-size: 2.2rem;
  }

  .btn-primary {
    background-color: var(--secondary-color);
    color: var(--bg-color);
    width: 80vw;
    align-self: center;
  }
}
