.maincontainer {
    display: flex;
    height: 1000px;
    background-color: red;
    
    width: 100vw;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;


}

.topdiv {
    flex-direction: column;
    display: flex;
    height: auto;
    width: 100vw;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 40px;
    padding-top: 40px;
    text-align: left;

}

.topictext {
    display: flex;
    font-size: 29px;
    color: white;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.subtopictext {
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: left;

}

.topsection {
    display: block;
}